@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

:root {
  /* COLORS */
  --text-dark: #403f3d;
  --text-light: #e1d4c9;
  --text-accent: #b0907a;

  --bg-body: #e1d4c9;
  --bg-container: #665f55;
  --bg-backdrop: rgba(64, 63, 61, 0.8);

  --border-light: #c1b6ad;
  --border-dark: #665f55;

  /* FONT */
  font-family: "Inter", Arial, "Helvetica Neue", Helvetica, sans-serif;
  line-height: 150%;

  /* OTHER */
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

.accent {
  font-style: italic;
  color: var(--text-accent);
}

.heading-1 {
  font-size: 42px;
  font-weight: 600;
  line-height: 115%;
}

.heading-2 {
  font-size: 32px;
  font-weight: 600;
  line-height: 125%;
}

@media screen and (min-width: 720px) {
  .heading-1 {
    font-size: 72px;
    line-height: 105%;
  }

  .heading-2 {
    font-size: 60px;
  }
}

.heading-3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
}

.text-caption {
  font-size: 10px;
  font-weight: 600;
  line-height: 140%;
}

.link,
.button {
  font-weight: 600;
  text-decoration: none;
  color: var(--text-dark);
}

.button {
  background-color: transparent;
  border-radius: 100px;
}

.circle {
  border-radius: 50%;
  aspect-ratio: 1;
}

.burger__link {
  font-size: 32px;
  font-weight: 600;
  line-height: 125%;
}

/*  */

body {
  background-color: var(--bg-body);
}

.main-container {
  display: flex;
  flex-direction: column;
  padding: 20px 16px 0px 16px;
  max-width: 1440px;
  margin-inline: auto;
}

@media screen and (min-width: 600px) {
  .main-container {
    padding: 20px 40px 40px 40px;
  }
}

/* HEADER */

.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-header__nav {
  padding-right: 45px;
}

.page-header__links {
  display: inline-flex;
  gap: 40px;
}

.page-header__link-container {
  list-style: none;
  border-bottom: 1px solid transparent;
  transition: all 250ms ease;
}

.page-header__menu {
  border: 2px solid transparent;
  transition: border 250ms ease;
}

.page-header__burger-menu-btn {
  width: 44px;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid var(--border-dark);
}

.svg-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.page-header__burger-menu-btn svg {
  stroke-width: 1.5px;
  stroke: var(--border-dark);
}

/* FOOTER */

.page-footer {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 100px;
  padding: 60px 16px;
  margin-top: 100px;
  border-radius: 40px;
  background-color: var(--bg-container);
  color: var(--text-light);
}

@media screen and (min-width: 550px) {
  .page-footer {
    padding: 100px 60px;
  }
}

@media screen and (min-width: 1000px) {
  .page-footer {
    grid-template-columns: 1fr 1fr;
    column-gap: 100px;
    padding: 100px;
  }
}

.page-footer__offer-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.page-footer__socials {
  display: inline-flex;
  gap: 12px;
}

.page-footer__social-link {
  border: 1px solid var(--text-light);

  display: inline-flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;

  stroke: var(--text-light);
  transition: all 250ms ease, border 1ms linear;
}

.page-footer__contact-info {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
}

.page-footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.page-footer__contact-link {
  color: var(--text-light);
  transition: color 250ms ease;
}

.page-footer__link-item {
  display: flex;
  gap: 8px;
}

.page-footer__schedule {
  color: var(--text-light);
  transition: color 250ms ease;
}

@media screen and (max-width: 800px) {
  .hidden-on-small-screen {
    display: none;
  }
}

@media screen and (min-width: 801px) {
  .hidden-on-big-screen {
    display: none;
  }

  .page-header__link-container:hover {
    border-bottom: 4px solid var(--border-dark);
  }

  .page-header__menu:hover {
    border-bottom: 2px solid var(--text-dark);
  }

  .page-footer__contact-link:hover,
  .page-footer__schedule:hover {
    color: var(--text-dark);
  }

  .page-footer__social-link:hover {
    border: none;
    background-color: var(--bg-body);
    stroke: var(--text-dark);
  }
}
