.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 100px;
  padding: 100px;
  margin-top: 13px;
  border-radius: 40px;
  color: var(--text-light);
  background-image: url(../assets/img-hero.jpg);
  background-size: cover;
  background-position-y: -30px;
}

.hero__text-wrapper {
  display: inline-flex;
  flex-direction: column;
  gap: 40px;
}

.hero__heading,
.hero__description {
  margin: 0;
}

.hero__btn {
  align-self: flex-start;
  padding: 20px 78px;
  background-color: var(--bg-body);
  color: var(--text-dark);
  transition: all 250ms ease;
}

.hero__btn:hover {
  background-color: var(--bg-container);
  color: var(--text-light);
}

/* SLIDER SECTION */

