.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 100px;
  padding: 100px;
  margin-top: 13px;
  border-radius: 40px;
  color: var(--text-light);
  background-image: url(../assets/img-hero.jpg);
  background-size: cover;
  background-position-y: -30px;
}

.hero__text-wrapper {
  display: inline-flex;
  flex-direction: column;
  gap: 40px;
}

.hero__heading,
.hero__description {
  margin: 0;
}

.hero__btn {
  align-self: flex-start;
  padding: 20px 78px;
  background-color: var(--bg-body);
  color: var(--text-dark);
  transition: all 250ms ease;
}

.hero__btn:hover {
  background-color: var(--bg-container);
  color: var(--text-light);
}

/* SLIDER SECTION */

.slider-section {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

.slider {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  width: 100%;
}

.slider__slide {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  text-align: center;
  max-width: 480px;
}

.slider__image {
  width: 480px;
  aspect-ratio: 1;
}

.slider__description {
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: var(--text-dark);
}

.slider__btn {
  width: 60px;
  height: 60px;
  align-self: center;
  text-align: center;
  border: 1px solid var(--border-dark);
  background-color: var(--bg-body);
  stroke: var(--text-dark);
  transition: all 250ms ease;
  cursor: pointer;
}

.slider__btn:hover {
  border: 1px solid transparent;
  background-color: var(--bg-container);
  stroke: var(--text-light);
}

.slider__indicators {
  display: flex;
  gap: 12px;
}

.slider__indicator {
  width: 40px;
  height: 4px;
  border-radius: 100px;
  background-color: var(--border-light);
}

.active-slide {
  background-color: var(--border-dark);
}