.hero {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  padding: 60px 16px;
  margin-top: 13px;
  border-radius: 40px;
  color: var(--text-light);
  overflow: hidden;
}

@media screen and (min-width: 550px) {
  .hero {
    padding: 100px 60px;
  }
}

@media screen and (min-width: 800px) {
  .hero {
    padding: 100px;
    grid-template-columns: minmax(530px, 1fr) 1fr;
    column-gap: 100px;
  }
}

.hero__bg {
  position: absolute;
  height: 100%;
  justify-self: center;
  align-self: center;
  z-index: -999;
}

.hero__text-wrapper {
  display: inline-flex;
  flex-direction: column;
  gap: 40px;
}

.hero__btn {
  align-self: flex-start;
  padding: 20px 78px;
  background-color: var(--bg-body);
  color: var(--text-dark);
  transition: all 250ms ease;
}

.hero__btn:hover {
  background-color: var(--bg-container);
  color: var(--text-light);
}

/* SLIDER SECTION */

.slider-section {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

.slider {
  display: flex;
  justify-content: center;
  width: 100%;
}

@media screen and (min-width: 770px) {
  .slider {
    gap: 40px;
    justify-content: space-between;
  }
}

.slider__slide {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  text-align: center;
  max-width: 480px;
}

.slider__image {
  width: 100%;
  aspect-ratio: 1;
}

@media screen and (min-width: 500px) {
  .slider__image {
    width: 480px;
  }
}

.slider__description {
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: var(--text-dark);
}

.slider__btn {
  width: 60px;
  height: 60px;
  align-self: center;
  text-align: center;
  border: 1px solid var(--border-dark);
  background-color: var(--bg-body);
  stroke: var(--text-dark);
  transition: all 250ms ease;
  cursor: pointer;
}

@media screen and (max-width: 690px) {
  .slider__btn {
    display: none;
  }
}

.slider__btn:hover {
  border: 1px solid transparent;
  background-color: var(--bg-container);
  stroke: var(--text-light);
}

.slider__indicators {
  display: flex;
  gap: 12px;
}

.slider__indicator {
  width: 40px;
  height: 4px;
  border-radius: 100px;
  background-color: var(--border-light);
}

.active-slide {
  background-color: var(--border-dark);
}

/* ABOUT SECTION */

.about {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 100px;
}

.about__images-grid {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.about__image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 20px;
  background-position: center;
}

.about__image-container img {
  height: 100%;
  object-fit: cover;
}

.about__image-container:nth-child(1) {
  grid-area: frst;
}

.about__image-container:nth-child(2) {
  grid-area: second;
  display: none;
}

.about__image-container:nth-child(3) {
  grid-area: third;
  display: none;
}

.about__image-container:nth-child(4) {
  grid-area: fourth;
}

@media screen and (min-width: 800px) {
  .about__images-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 430px 120px 430px;
    grid-template-areas:
      "frst third"
      "frst fourth"
      "second fourth";
  }

  .about__image-container img {
    width: 100%;
  }

  .about__image-container:nth-child(2) {
    display: unset;
  }

  .about__image-container:nth-child(3) {
    display: unset;
  }
}

/* MOBILE APP SECTION */

.mobile-app {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 100px;
  color: var(--text-dark);
}

@media screen and (min-width: 1200px) {
  .mobile-app {
    flex-direction: row;
  }
}

.mobile-app__text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mobile-app__offer {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-app__downloads {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.mobile-app__download {
  padding: 12px 20px;
  border: 1px solid var(--border-dark);
  border-radius: 100px;
  width: 200px;

  display: flex;
  gap: 8px;

  background-color: transparent;
  color: var(--text-dark);
  fill: var(--text-dark);
  transition: all 250ms ease;
}

@media screen and (min-width: 500px) {
  .mobile-app__downloads {
    flex-direction: row;
  }
}

.mobile-app__download:hover {
  background-color: var(--bg-container);
  color: var(--text-light);
  fill: var(--text-light);
}
